#navBar {
  background-image: url("../../images/green-green-leaf-nature-66869.jpg");
  margin: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
  z-index: 9999;
  color: #f5f5f5;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-link {
  color: #f5f5f5;
  padding: 14px;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}

.nav-right {
  float: right;
}
